<!DOCTYPE html>
<html lang="en">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>SmartRabbit</title>
</head>


<nav class="navbar navbar-dark bg-dark">
    <img src="../static/bugsbunny.jpg" width="60" height="60" alt="SmartRabbit">SmartRabbit
    <a href = "/login">   Login </a>
    <a href = "/monitoring"> Monitoring  </a>
    <a href = "/configure">   Configure </a>
</nav>



<body>
{% block body %}

{% endblock %}

</body>
</html>