{% extends "layout.html" %}
{%  block body %}
<p>This is settings </p>

     <script type="text/javascript">
        function processData(c1,c2,c3){
            var cv1 = document.getElementById(c1).value;
            var cv2 = document.getElementById(c2).value;
            var cv3 = document.getElementById(c3).value;
            alert(cv1 + "\n" + cv2 + "\n" + cv3);
        }
    </script>

    <fieldset>
    <legend>Choose Spoky Color Status </legend>

    <div>
        <input type="color" id="color1" value="#e66465" /> Success
        <input type="color" id="color2" value="#f6b73c" /> In Progress
        <input type="color" id="color3" value="#3f87a6" /> Fail
    </div>
    <input type = button onclick="processData(color1, color2, color3)" value="Submit" />

    </fieldset>

<button type="button" onclick="document.getElementById('demo').innerHTML = Date()">Click me to display Date and Time.</button>
<button type="button" onclick="document.getElementById('couleur').innerHTML = document.getElementById('color1').value">Click me to display the first color</button>


<p id="demo"></p>
    <p> "he first color is :</p> <p id = couleur ></p>

{% endblock %}